<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/estilo.css">
	<title>Sistema de Avaliação de Órgãos Públicos</title>
</head>
<body>
		<div style="text-align:center">
        <font size="7"> SAOP - Sistema de Avaliação de Órgãos Públicos</font> <br />
 </body>
<body>
	<main>
		<section class="jumbotron"><!--Iniciar título-->

			<form method="GET" class="input-group">
				<input class="form-control" type="search" placeholder="Busque aqui!" name="search">
				<button class="btn btn-primary ml-1">Pesquisar</button>
			</form>
		</section><!--Fim Título-->
		<section class="container">
			
			{% block content %}


			{% endblock content %}

			
		</section>

	</main>
	<script  src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>

	<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>


